@import url(normolaze.css);
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 50px;

}
.form--wrapper {
    max-width: 692px;
    /* border: 1px solid black; */
}
h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #424242;
    margin: 64px 0 32px;
}

/* ============= Form=========== */

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    .input {
        border: 1px solid #BDBDBD;
        border-radius: 83px;
        padding: 17px 18px 17px 24px;
        margin-bottom: 24px;
        font-family: inherit;
        font-size: 14px;
        line-height: 17px;
        color: #424242;

    }
    .big {
        max-width: 520px;
    }
    .select {
        position: relative;
        margin-bottom: 24px;
    }
    .select select {
        display: block;
        width: 100%;
        background: none;
        border: 1px solid #BDBDBD;
        border-radius: 83px;
        font-family: inherit;
        font-size: 14px;
        line-height: 17px;
        color: #BDBDBD;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;  
        padding: 17px 16px 17px 24px;
        cursor: pointer;
    }
    .select::after {
        content: url(../img/arrow\ down.svg);
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        right: 0;
    }
    .adress {
        display: flex;
        justify-content: space-between;
    }
    .middle {
        width: 254px;
    }
    .small {
        max-width: 130px;
    }
    .adress .input {
        
    }
    .adress .input:last-child {
        
    }
    .large {
        max-width: 100%;
        margin-bottom: 0;
    }

    .person-data .input:nth-child(3) {
        margin-right: 0;
    }
    .person-data .input:nth-child(4) {
        margin-right: 0;
        margin-bottom: 8px;
    }
    .person {
        width: 217px; /* Должно быть 220 */
        margin-right: 16px;
    }
    p {
        font-size: 12px;
        line-height: 125%;
        color: #424242;
        margin-bottom: 27px;
    }
    .mail {
        max-width: 468px;
        margin-bottom: 8px;
    }
    .text {
        margin-left: 46px;
        font-size: 16px;
        line-height: 20px;
        color: #424242;

    }
    input {
        color: #424242;
    }
    input::placeholder {
        color: #BDBDBD;
    } 

    /* ============= Checkbox =========== */
    .check {
        padding-left: 46px;
        display: flex;
        align-items: center;
    }
    .check__input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;  
        
     }
     .check__box {
        position: absolute;
        margin-left: -49px;
        width: 30px;
        height: 30px;
        border: 1px solid #BDBDBD;
        border-radius: 6.64286px;
        
 
     }
     .check__input:hover + .check__box::before {
        content: url(../img/akar-icons_check.svg);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    } 
    .check__input:checked + .check__box{
        border: 1px solid rgba(207, 165, 165, 1);
        border-radius: 6.64286px;
        
    }
    .check__input:checked + .check__box::before{
        content: url(../img/fill.svg);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       
    }
    /* .label-box {
        display: flex;
        align-items: center;
    }
    .checkbox {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;  
    }
    .fake-check {
        position: absolute;
        background-image: url(../img/check.svg);
        width: 30px;
        height: 30px;
        /* margin-right: 20px; */
       /*  transition: .4s; 
    }
    /* .checkbox:hover + .fake-check {
        background-image: url(../img/hover.svg);
    } */
   /*  .checkbox:checked + .fake-check {
        background-image: url(../img/checked.svg);
    } */ 
/* ============= Radio =========== */
.radio-wrapper {
    padding-left: 46px;
    display: flex;
    align-items: center;
    margin-bottom: 23px;

}
.radio__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;  
    
 }
 .radio {
    position: absolute;
    margin-left: -49px;
    width: 31px;
    height: 31px;
    border: 1px solid rgba(151, 100, 100, 1);
    border-radius: 50%;
    transition: .4s;

 }
.radio__input:checked + .radio{
    
}
.radio__input:checked + .radio::before{
    content: '';
    display: block;
    position: absolute;
    width: 19px;
    height: 19px;
    background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
    border-radius: 50%;
    top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

   
}



    /* .label-radio {
        display: flex;
        align-items: center;
        margin-bottom: 19px;
    }
    .radio {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;  
    }
    .fake-radio {
        position: absolute;
        background-image: url(../img/radio.svg);
        width: 31px;
        height: 31px;
        transition: .4s;
    }
    .radio:checked + .fake-radio {
        background-image: url(../img/radio\ check.svg);
    } */
    .btn {
        display: flex;
        margin: 0 auto;
        max-width: 300px;
        
        padding: 13px 45px;
        background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
        border-radius: 49px;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        margin: 20px 0 100px;
    }
}
